{% extends 'user_base.html' %}

{% block content %}
 <div
      class="banner-header section-padding valign bg-img bg-fixed bg-position-bottom"
      data-overlay-dark="5"
      data-background="/static/userassets/img/rooms/15.jpg"
    >
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center caption">
            <h5>Hotel Blog</h5>
            <h1>Our News</h1>
          </div>
        </div>
      </div>
      <!-- button scroll -->
      <a href="#" data-scroll-nav="1" class="mouse smoothscroll">
        <span class="mouse-icon"> <span class="mouse-wheel"></span> </span>
      </a>
    </div>
    <!-- Blog -->
    <section class="blog-home section-padding" data-scroll-index="1">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="item bg-img" data-background="/static/userassets/img/news/7.jpg">
              <div class="content">
                <div class="info">
                  <a href="blog.html">
                    <span
                      ><i class="ti-time" aria-hidden="true"></i>28 Dec
                      2024</span
                    ></a
                  >
                </div>
                <a href="post.html">
                  <h5>2 Family Room Options with Double Bedrooms</h5>
                </a>
                <p>
                  Nulla tincidunt ante the sit amet suscition ullamcorpen risus
                  sigula pharetra sapien viverra odio ante masna.
                </p>
                <div class="arrow">
                  <a href="post.html"><span class="ti-arrow-right"></span></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="item bg-img" data-background="/static/userassets/img/news/3.jpg">
              <div class="content">
                <div class="info">
                  <a href="blog.html">
                    <span
                      ><i class="ti-time" aria-hidden="true"></i>26 Dec
                      2024</span
                    ></a
                  >
                </div>
                <a href="post.html">
                  <h5>Luxury Hotel Experience: Heated Pools</h5>
                </a>
                <p>
                  Nulla tincidunt ante the sit amet suscition ullamcorpen risus
                  sigula pharetra sapien viverra odio ante masna.
                </p>
                <div class="arrow">
                  <a href="post.html"><span class="ti-arrow-right"></span></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="item bg-img" data-background="/static/userassets/img/news/9.jpg">
              <div class="content">
                <div class="info">
                  <a href="blog.html">
                    <span
                      ><i class="ti-time" aria-hidden="true"></i>24 Dec
                      2024</span
                    ></a
                  >
                </div>
                <a href="post.html">
                  <h5>What is the Meaning of Resort Hotel?</h5>
                </a>
                <p>
                  Nulla tincidunt ante the sit amet suscition ullamcorpen risus
                  sigula pharetra sapien viverra odio ante masna.
                </p>
                <div class="arrow">
                  <a href="post.html"><span class="ti-arrow-right"></span></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="item bg-img" data-background="/static/userassets/img/news/8.jpg">
              <div class="content">
                <div class="info">
                  <a href="blog.html">
                    <span
                      ><i class="ti-time" aria-hidden="true"></i>22 Dec
                      2024</span
                    ></a
                  >
                </div>
                <a href="post.html">
                  <h5>Luxury Hotel Bathroom Collections</h5>
                </a>
                <p>
                  Nulla tincidunt ante the sit amet suscition ullamcorpen risus
                  sigula pharetra sapien viverra odio ante masna.
                </p>
                <div class="arrow">
                  <a href="post.html"><span class="ti-arrow-right"></span></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="item bg-img" data-background="/static/userassets/img/news/2.jpg">
              <div class="content">
                <div class="info">
                  <a href="blog.html">
                    <span
                      ><i class="ti-time" aria-hidden="true"></i>20 Dec
                      2024</span
                    ></a
                  >
                </div>
                <a href="post.html">
                  <h5>What are the Benefits of the Spa?</h5>
                </a>
                <p>
                  Nulla tincidunt ante the sit amet suscition ullamcorpen risus
                  sigula pharetra sapien viverra odio ante masna.
                </p>
                <div class="arrow">
                  <a href="post.html"><span class="ti-arrow-right"></span></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="item bg-img" data-background="/static/userassets/img/news/5.jpg">
              <div class="content">
                <div class="info">
                  <a href="blog.html">
                    <span
                      ><i class="ti-time" aria-hidden="true"></i>18 Dec
                      2024</span
                    ></a
                  >
                </div>
                <a href="post.html">
                  <h5>Choosing a Hotel to Have a Business Meeting</h5>
                </a>
                <p>
                  Nulla tincidunt ante the sit amet suscition ullamcorpen risus
                  sigula pharetra sapien viverra odio ante masna.
                </p>
                <div class="arrow">
                  <a href="post.html"><span class="ti-arrow-right"></span></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <!-- Pagination -->
            <!-- <ul class="blog-pagination-wrap align-center mb-30 mt-30">
              <li>
                <a href="blog2.html#"><i class="ti-angle-left"></i></a>
              </li>
              <li><a href="blog2.html#">1</a></li>
              <li><a href="blog2.html#" class="active">2</a></li>
              <li><a href="blog2.html#">3</a></li>
              <li>
                <a href="blog2.html#"><i class="ti-angle-right"></i></a>
              </li>
            </ul> -->
          </div>
        </div>
      </div>
    </section>
{% endblock %}