{% extends 'base.html' %}

{% block content %}
<br>

<div class="card" style="margin-right: 40px;margin-left: 30px;">
    <div class="card-body">
        <div class="card-header" style="background-color: #161d2b;color:white;">

            <span style="color: "><h4 style="color:white"> Add Hotel</h4></span>
        </div>
        <br>
        <br>
        <form action="{% url 'addhot' %}" method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col mb-3">
                    <label for="hotel_type"><b>Hotel Type:</b> &nbsp;<b style="color: red;">*</b></label>
                    <select class="form-select" id="hotel_type" name="hotel_type" required placeholder="Enter Hotel Type">
                        <option disabled selected value="">Select Hotel Type</option>
                        <option value="luxury">Luxury</option>
                        <option value="boutique">Boutique</option>
                        <option value="budget">Budget</option>
                        <option value="resort">Resort</option>
                        <option value="other">Other</option>
                    </select>
                </div>


                <div class="col mb-3">
                    <label for="image"><b>Hotel Images (JPG, PNG, JPEG only)</b> &nbsp;<b style="color: red;">*</b></label>
                    <input accept=".jpg, .jpeg, .png" class="form-control" id="image" name="image" required title="Enter JPG, PNG, JPEG only"
                           type="file" placeholder="Enter Hotel Images">
                    <span id="errorMessageImages" style="color: red; display: none;">Please upload a valid image file (JPG, PNG, JPEG only)</span>
                </div>

                <div class="col mb-3">
                    <label for="availability"><b>Room Availability Calendar</b> &nbsp;<b style="color: red;">*</b></label>
                    <input class="form-control" autocomplete="off" id="availability" name="availability" required type="datetime-local" >
                </div>
            </div>

            <div class="row">
                <div class="col mb-3">
                    <label for="contact"><b>Contact Details </b>&nbsp;<b style="color: red;">*</b></label>
                    <input class="form-control" autocomplete="off" id="contact" name="contact" pattern="[6-9][0-9]{9}" required title="Enter 10 numbers starting with 6-9"
                           type="tel" placeholder="Enter Contact Details">
                    <p id="phoneError" style="color: red; display: none;">Please enter a valid phone number</p>
                </div>

                <div class="col mb-3">
                    <label for="location"><b>Location</b> &nbsp;<b style="color: red;">*</b></label>
                    <input class="form-control" autocomplete="off" id="location" name="location" pattern="https?://.+" required title="Enter URL link only"
                           type="text" placeholder="Enter Location">
                    <span id="errorMessageLocation" style="color: red; display: none;">Please enter a valid URL link (http/https only)</span>
                </div>

                <div class="col mb-3">
                    <label for="amenities"><b>Hotel Amenities And Facilities</b> &nbsp;<b style="color: red;">*</b></label>
                    <input class="form-control" v id="amenities" name="amenities" pattern="[A-Za-z ]{3,30}" required
                           title="Enter characters only" type="text" placeholder="Enter Amenities And Facilities">
                    <p id="ratingsError" style="color: red; display: none;">Please enter valid amenities and
                        facilities</p>
                </div>
            </div>

            <br>
            <div class="row">
                <div class="col-lg-12 mb-3">

                    <input id="policy" name="policy" autocomplete="off" title="Agree to policies" type="checkbox"> <label for="policy"><b>Accept Policies and Rules:</b> &nbsp;</label>
                    <span id="errorMessagePolicies"
                          style="color: red; display: none;">Please agree to the policies</span>
                </div>

            </div>

            <div align="center" class="row">
                <div class="modal-footer d-flex justify-content-center align-items-center text-center">
                    <button class="btn btn-outline-dark" style="background-color:#161d2b" type="submit"><span class="text-white">Submit</span></button>
                            <button class="btn btn-outline-dark" style="background-color:#626875;" type="reset"><span style="color: white;">Clear</span></button>
</div>
            </div>


        </form>

    </div></div>
        <!---delete popup---->
        {% for h in hot_a %}
         <div class="modal fade" id="deleteData-{{forloop.counter}}" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
           <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header" >
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="NotificationModalbtn-close"></button>
            </div>
            <div class="modal-body">
                <div class="mt-2 text-center">
<lord-icon
    src="https://cdn.lordicon.com/skkahier.json"
    trigger="hover"
    colors="primary:#c71f16"
    style="width:150px;height:100px">
</lord-icon>
                        <h4>Are you sure ?</h4>
                        <p class="text-muted mx-4 mb-0">Are you sure you want to remove this <b style="color: red;">Hotel</b> Details ?</p>
                    </div>

                <div class="d-flex gap-2 justify-content-center mt-4 mb-2">
                    <a class="btn btn-outline-danger text-white" style="background-color: #d11d26;" href="{% url 'deletehot' h.pk %}">Delete</a>
                    <button type="button" class="btn btn-outline-dark text-white" style="background-color: #626875;" data-bs-dismiss="modal">Cancel</button>
                </div>
                </div>
            </div>
      </div>
         <br>
               <br>
    </div>
    {% endfor %}

    <!---edit --->
    {% for v in hot_a %}
    <div aria-hidden="true" aria-labelledby="hotelModalLabel" class="modal fade" id="editData-{{forloop.counter}}"
         style="margin-top: -150px;" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header" style="background: #161d2b">
                    <h5 class="modal-title text-white" id="formModalLabel" style="color: white">Edit </h5>
                    <button aria-label="Close" class="btn-close bg-white" data-bs-dismiss="modal" type="button"></button>
                </div>
                <div class="modal-body">
                    <form action="{% url 'updatehot' v.id %}" method="POST">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-lg-4 mb-3">
                                <label class="form-label" for="hotel_type"><b>Hotel Type</b></label>
                                <select class="form-select" id="hotel_type" name="hotel_type" required placeholder="Enter Hotel Type">
                                        <option  selected value="{{v.hotel_type}}">{{v.hotel_type}}</option>
                                        <option value="luxury">Luxury</option>
                                        <option value="boutique">Boutique</option>
                                        <option value="budget">Budget</option>
                                        <option value="resort">Resort</option>
                                        <option value="other">Other</option>
                                    </select>

                            </div>
                            <div class="col-lg-4 mb-3">
                                <label for="image"><b>Hotel Images (JPG, PNG, JPEG)</b></label>
                                <input accept=".jpg, .jpeg, .png" class="form-control" id="image" name="image"
                                       required title="Enter JPG, PNG, JPEG only" type="file"
                                       value="{{v.image}}">

                            </div>
                            <div class="col-lg-4 mb-3">
                                <label for="availability"><b>Room Availability Calendar</b></label>
                                <input class="form-control" autocomplete="off" id="availability" name="availability" type="datetime-local"
                                       value="{{v.availability}}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4 mb-3">
                                <label for="contact"><b>Contact Details</b></label>
                                <input class="form-control" id="contact" autocomplete="off" name="contact" pattern="[6-9][0-9]{9}"
                                       required title="Enter 10 numbers starting with 6-9" type="tel"
                                       value="{{v.contact}}">
                                <span id="errorMessageContactDetails" style="color: red; display: none;">Please enter a valid phone number</span>
                            </div>

                            <div class="col-lg-4 mb-3">
                                <label for="location"><b>Location</b></label>
                                <input class="form-control" autocomplete="off" id="location" name="location" pattern="https?://.+" required
                                       title="Enter URL link only" type="text" value="{{v.location}}">
                            </div>
                            <div class="col-lg-4 mb-3">
                                <label for="amenities"><b>Hotel Amenities and Facilities</b></label>
                                <input class="form-control" autocomplete="off" id="amenities" name="amenities" pattern="[A-Za-z ]{3,30}"
                                       required title="Enter characters only" type="text"
                                       value="{{v.amenities}}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 mb-3">
                                <label for="policy"><b>Accept Policies and Rules</b></label>
                                <input id="policy" name="policy" autocomplete="off" title="Agree to policies" type="checkbox"
                                       value="{{v.policy}}">
                            </div>
                        </div>
                        <div align="center" class="row">

            <div class="modal-footer d-flex justify-content-center align-items-center text-center">
                <button class="btn btn-outline-dark" style="background-color:#161d2b" type="submit"><span class="text-white">Submit</span></button>
                <button class="btn btn-outline-dark" style="background-color:#626875;" type="reset"><span style="color: white;">Clear</span></button></div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<div class="card" style="margin-right: 40px; margin-left: 30px;">
    <div class="card-body">
        <div class="table-responsive">
                <table class="table mb-0" data-toggle="data-table" id="datatable">

                <thead>
                <tr style="background:  #161d2b;">
                    <th class="sort" data-sort="customer_name" style="color: white; text-align: center;">S.no</th>
                    <th class="sort" data-sort="name" style="color: white; text-align: center;">Hotel Image</th>
                    <th class="sort" data-sort="name" style="color: white; text-align: center;">Hotel Type</th>
                    <th class="sort" data-sort="status" style="color: white; text-align: center;">Availability</th>
                    <th class="sort" data-sort="action" style="color: white; text-align: center;">Contact Details</th>
                    <th class="sort" data-sort="action" style="color: white; text-align: center;">Location</th>
                    <th class="sort" data-sort="action" style="color: white; text-align: center;">Ameneties</th>
                    <th class="sort" data-sort="action" style="color: white; text-align: center;">Policy</th>
                    <th class="sort" data-sort="action" style="color: white; text-align: center;">Status</th>
                    <th class="sort" data-sort="action" style="color: white; text-align: center;">Actions</th>

                </tr>
                </thead>


                <tbody align="center" class="list form-check-all">
                {% for n in hot_a %}
                <tr>

                    <td scope="row">{{ forloop.counter }}</td>
                    <td class="name"> <img class="rounded-rectangle" height="50px;" src="{{ n.image.url}}"
                                                 width="50px;"></td>
                    <td class="name">{{ n.hotel_type }}</td>
                    <td class="name">{{ n.availability }}</td>

                    <td class="name">{{ n.contact }}</td>
                    <td class="name">{{ n.location }}</td>
                    <td class="name">{{ n.amenities }}</td>
                    <td class="name">{{ n.policy }}</td>
                    <td> <form action="{% url 'togglestatusth' n.id %}" method="post">
                        {% csrf_token %}
                        <button class="btn btn-sm {% if n.status %}btn-danger{% else %}btn-success{% endif %}" type="submit">
                            {% if n.status %}Inactive{% else %}Active{% endif %}
                        </button>
                    </form>
                                                    </td>
                    <td> <button class="btn " data-bs-target="#editData-{{forloop.counter}}" data-bs-toggle="modal"
                                style="background-color:  #161d2b" type="button"><span
                                style="color: white"><svg class="bi bi-pencil-square" fill="currentColor" height="16"
                                                          viewBox="0 0 16 16" width="16"
                                                          xmlns="http://www.w3.org/2000/svg">
  <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
  <path d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"
        fill-rule="evenodd"/>
</svg></span></button>
                        <button class="btn btn-outline-danger text-white" style="background-color: #d11d26;" data-bs-target="#deleteData-{{forloop.counter}}" data-bs-toggle="modal"
                                type="button">
                            <svg class="bi bi-trash3" fill="currentColor" height="16" viewBox="0 0 16 16"
                                 width="16" xmlns="http://www.w3.org/2000/svg">
                                <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
                            </svg>
                        </button></td>
                </tr>
                {% endfor %}
                </tbody>

            </table>
        </div>
    </div>
</div>


</div>
</div>
<script>
    $(document).ready(function(){
    $('#example').DataTable();
    });
</script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
<style>
    /* Set the color property to black for all text within the elements */
    .card,.modal-body, label, input, span, textarea, th, td, button {
      color: black;]


    }
</style>
<style>
    .nav-item .nav-link:hover .item-name,
    .nav-item .nav-link:focus .item-name {
        color: white !important;
    }
    .nav-item .nav-link:hover,
    .nav-item .nav-link:focus {
        background-color: #2185f4 !important;
    }
</style>
<style>
    <style>
    .sidebar .sidebar-list .nav-item .nav-link .item-name {
        color:;
    }

    .navbar .nav-item .nav-link {
        color: !important;
    }
    .navbar .nav-item .nav-link:hover {
        background-color: white !important;
        color: #2185f4 !important;
    }
</style>
<script>
    document.getElementById('image').addEventListener('change', function() {
    var selectedFile = this.value;
    var errorMsgImages = document.getElementById('errorMessageImages');
    var allowedExtensions = /(\.jpg|\.jpeg|\.png)$/i;

    if (!allowedExtensions.exec(selectedFile)) {
        errorMsgImages.style.display = 'block';
    } else {
        errorMsgImages.style.display = 'none';
    }
});

</script>
<script>
    document.getElementById('availability').addEventListener('input', function() {
    var inputLocation = this.value;
    var errorMsgLocation = document.getElementById('errorMessageLocation');
    var urlPattern = /https?:\/\/.+/i;

    if (!urlPattern.test(inputLocation)) {
        errorMsgLocation.style.display = 'block';
    } else {
        errorMsgLocation.style.display = 'none';
    }
});

</script>
<script>
    document.getElementById('policy').addEventListener('change', function() {
    var errorMsgPolicies = document.getElementById('errorMessagePolicies');

    if (!this.checked) {
        errorMsgPolicies.style.display = 'block';
    } else {
        errorMsgPolicies.style.display = 'none';
    }
});

</script>
<script>
    document.getElementById('contact').addEventListener('input', function() {
     var phoneError = document.getElementById('phoneError');
     if (!this.checkValidity()) {
         phoneError.style.display = 'block';
     } else {
         phoneError.style.display = 'none';
     }
 });

    document.getElementById('ratingsFeedback').addEventListener('input', function() {
     var ratingsError = document.getElementById('ratingsError');
     if (!this.checkValidity()) {
         ratingsError.style.display = 'block';
     } else {
         ratingsError.style.display = 'none';
     }
 });


</script>
<style>
    /* Add your regular styles here */

.dark-mode label {
    color: white; /* Change label color for dark mode */
}

.dark-mode {
    background-color: #333; /* Change background color for dark mode */
    color: white; /* Change text color for dark mode */
}

/* Add more styles as needed */

</style>
<script>
    document.addEventListener('DOMContentLoaded', function () {
    // Add event listener for dark mode toggle
    document.getElementById('darkModeToggle').addEventListener('change', function () {
        document.body.classList.toggle('dark-mode');
        document.querySelectorAll('label').forEach(function (label) {
            label.classList.toggle('dark-mode');
        });
    });
});


</script>
<style>
    .dark-mode {
    background-color: #333;
    color: white;
}

.dark-label {
    color: white;
}

</style>
<script>
    document.addEventListener('DOMContentLoaded', function () {
    var darkModeToggle = document.getElementById('darkModeToggle');
    var formLabels = document.querySelectorAll('.form-label');

    darkModeToggle.addEventListener('change', function () {
        document.body.classList.toggle('dark-mode');

        formLabels.forEach(function (label) {
            label.classList.toggle('dark-label');
        });
    });
});

</script>
<script>
    document.getElementById('darkModeToggle').addEventListener('change', function() {
        document.body.classList.toggle('dark-mode');
    });
</script>
<style>
    .dark-mode .white-text {
    color: white;
}

</style>
<script>
    // Get the current date and time in the format required for datetime-local input
    function getCurrentDateTime() {
        const now = new Date();
        const year = now.getFullYear();
        const month = (now.getMonth() + 1).toString().padStart(2, '0');
        const day = now.getDate().toString().padStart(2, '0');
        const hours = now.getHours().toString().padStart(2, '0');
        const minutes = now.getMinutes().toString().padStart(2, '0');
        return `${year}-${month}-${day}T${hours}:${minutes}`;
    }

    // Set the min attribute of the input to the current date and time
    document.getElementById('availability').min = getCurrentDateTime();
</script>

<script src="dark-mode.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
            <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
   <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css" rel="stylesheet"
          type="text/css">

<script>
    $(document).ready(function() {
        $('#example').DataTable({
            "ordering": false  // Disable sorting
        });
    });
</script>
{% endblock %}